body {
    background: rgb(219, 219, 219);
}
nav img {
    width: 180px;
}

.navbar>.container-fluid {
   justify-content: start;
}

nav div a {
    margin-left: 50px;
}

nav {
    min-width: 576px;
}

nav div p {
    color: aliceblue;
}

nav div .row p {
    margin-bottom: 0px;
}

.offcanvas {
    --bs-offcanvas-width: 300px;
}

div .offcanvas-body ul li {
    display: block;
    transition: all .4s ease;
}

div .offcanvas-body ul li:hover, div .offcanvas-body ul a:hover {
    color:rgb(252, 14, 14);
    transform: scale(1.05);
}
