nav ul li {
    padding-left: 40px;
}
.nav-link {
    color: #fff;
    transition: all 0.4s ease;
}

ul li a .nav-link:hover, nav ul li .nav-link:hover {
    color: #f02727;
    transform: scale(1.05);
    
}